# Ignore everything
*

# Don't ignore these directories and their file types
!src/
!src/**/*
!src/**/*.cpp
!src/**/*.h

!shaders/
!shaders/**/*
!shaders/**/*.glsl
!shaders/**/*.vert
!shaders/**/*.frag
!shaders/**/*.comp
!shaders/**/*.h

!premake5.lua
!compile_shaders.sh


**.spv
