[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendor/glfw"]
	path = vendor/glfw
  url = https://github.com/glfw/glfw.git
  ignore = dirty
[submodule "vendor/vulkan"]
	path = vendor/vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers.git

[submodule "vendor/VulkanMemoryAllocator"]
	path = vendor/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
  ignore = dirty
[submodule "vendor/imgui"]
	path = vendor/imgui
  url = git@github.com:ocornut/imgui.git
  ignore = dirty
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/fastgltf"]
	path = vendor/fastgltf
  url = https://github.com/spnda/fastgltf.git
  ignore = dirty 

#FIXME: maybe its not the best to do ignore=dirty when they dont
#ignore make files.. maybe i put the make files into .build dir??
#that gets ignored in all of them,, or they might have some building 
#ignored dir for cmake and i can use that!
